<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascripts/posts.js"></script>
<nav class="grey">
    <div class="nav-wrapper">
        <a href="/blog" class="brand-logo"><img src="http://www.davidpickles.com/photos/8b1a8475484bb8e60b570fe7c1a2.jpg" </a>
            <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Post</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Post</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
    </div>
</nav>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <div class="container">
                    <h6>{{post}}</h6>
                </div>
                <div class="card-action">
                    <!-- <a href="/comments/edit/:{{postId}}">EDIT</a> -->
                    <a class="modal-trigger" href="#modal1">EDIT</a>

                    <a href="/comments/delete/{{postId}}">DELETE</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <div class="container">
                    {{#each comments}}
                        <p>{{comment}}</p>
                    {{/each}}
                </div>
                <div class="row">
                    <form action="/comments/{{postId}}" method="post" class="col s12">
                        <form class="col s12 ">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="title" class="materialize-textarea" type="text" class="validate" name="comment">
                                    <label for="title">Comments</label>
                                </div>
                            </div>
                            <div class="container left-align">
                                <button class="btn waves-effect waves-light #bdbdbd grey lighten-1 commentButton" type="submit" name="action" value="submit"><i class="material-icons left">send</i>Submit</a>
                                </button>
                            </div>
                        </form>
                </div>
            </div>
            <div class="card-action">
                <!-- <a href="/comments/edit/:{{this.id}}">EDIT</a> -->
                <a class="modal-trigger" href="#modal2">EDIT</a>
                <a href="/comments/delete/{{this.id}}">DELETE</a>
            </div>
        </div>
    </div>
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Edit a post</h4>
            <div class="row">
                <form action="/comments/edit/{{postId}}" method="post" class="col s12">
                    <div class="input-field col s12">
                        <input value="{{title}}" id="title" class="materialize-textarea" type="text" name="title">
                        <label for="title"></label>
                    </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="{{post}}" id="post" class="materialize-textarea" type="text" class="validate" name="post">
                    <label for="post"></label>
                </div>
            </div>
            <!-- <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div> -->
            <div class="container center-align">
            </div>
              <button type="submit">submit edit</button>
            </form>
        </div>
        <!-- <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">submit</a>
        </div> -->
    </div>
    <div id="modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Edit a comment</h4>
            <form action="/comments/edit:id" method="post" id="postForm" class="col s12">
                <form class="col s12 ">
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="{{comment}}" id="title" class="materialize-textarea" type="text" class="validate" name="comment">
                            <label for="comment"></label>
                        </div>
                    </div>
                    <div class="container left-align">
                  </div>
                </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">submit</a>
        </div>
    </div>
</div>
