<nav class="blue">
    <div class="nav-wrapper">
        <a href="/blog" class="brand-logo">Blog</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Post</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Post</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{title}}</span>
              <div class="container">
                  <h6>{{post}}</h6>
                  {{#each comments}}
                      <p>{{comment}}</p>
                      <a href="/comments/delete/:{{this.id}}"></a>
                  {{/each}}
            </div>
            <div class="card-action">
              <a href="#">EDIT</a>
              <a href="#">DELETE</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Enter a Comment</span>
                <div class="row">
                    <form action="/comments/{{postId}}" method="post" class="col s12">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="title" class="materialize-textarea" type="text" class="validate" name="comment">
                                    <label for="title">Comments</label>
                                </div>
                            </div>
                            <div class="container left-align">
                                <button class="btn waves-effect waves-light commentButton" type="submit" name="action" value="submit"><i class="material-icons left">send</i>Submit</a>
                                </button>
                            </div>
                        </form>
          </div>
              </div>
              <div class="card-action">
                <a href="/comments/edit/:{{this.id}}">EDIT</a>
                <a href="/comments/delete/:{{this.id}}">DELETE</a>
              </div>
            </div>
          </div>
        </div>
